[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/buffer_explorer"]
	path = bundle/buffer_explorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = git://github.com/hail2u/vim-css3-syntax.git
